	/*
  	Flaticon icon font: Flaticon
  	Creation date: 29/08/2017 22:23
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-shapes-1:before { content: "\f100"; }
.flaticon-chain:before { content: "\f101"; }
.flaticon-exclamation:before { content: "\f102"; }
.flaticon-symbol:before { content: "\f103"; }
.flaticon-interface-1:before { content: "\f104"; }
.flaticon-music:before { content: "\f105"; }
.flaticon-shapes:before { content: "\f106"; }
.flaticon-mark:before { content: "\f107"; }
.flaticon-interface:before { content: "\f108"; }
.flaticon-luxury:before { content: "\f109"; }
.flaticon-global:before { content: "\f10a"; }
.flaticon-photo:before { content: "\f10b"; }
.flaticon-search-1:before { content: "\f10c"; }
.flaticon-medical:before { content: "\f10d"; }
.flaticon-like-2:before { content: "\f10e"; }
.flaticon-share-1:before { content: "\f10f"; }
.flaticon-users:before { content: "\f110"; }
.flaticon-add-1:before { content: "\f111"; }
.flaticon-route:before { content: "\f112"; }
.flaticon-map-location:before { content: "\f113"; }
.flaticon-home:before { content: "\f114"; }
.flaticon-picture:before { content: "\f115"; }
.flaticon-add:before { content: "\f116"; }
.flaticon-house:before { content: "\f117"; }
.flaticon-file-1:before { content: "\f118"; }
.flaticon-star-1:before { content: "\f119"; }
.flaticon-placeholder-1:before { content: "\f11a"; }
.flaticon-placeholder:before { content: "\f11b"; }
.flaticon-idea:before { content: "\f11c"; }
.flaticon-star:before { content: "\f11d"; }
.flaticon-list:before { content: "\f11e"; }
.flaticon-file:before { content: "\f11f"; }
.flaticon-time:before { content: "\f120"; }
.flaticon-settings-1:before { content: "\f121"; }
.flaticon-calendar-1:before { content: "\f122"; }
.flaticon-settings:before { content: "\f123"; }
.flaticon-like-1:before { content: "\f124"; }
.flaticon-plus:before { content: "\f125"; }
.flaticon-edit:before { content: "\f126"; }
.flaticon-clock:before { content: "\f127"; }
.flaticon-user-1:before { content: "\f128"; }
.flaticon-share:before { content: "\f129"; }
.flaticon-photo-camera:before { content: "\f12a"; }
.flaticon-calendar:before { content: "\f12b"; }
.flaticon-error:before { content: "\f12c"; }
.flaticon-play-button:before { content: "\f12d"; }
.flaticon-success:before { content: "\f12e"; }
.flaticon-like:before { content: "\f12f"; }
.flaticon-user:before { content: "\f130"; }
.flaticon-search:before { content: "\f131"; }
